.videos {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}

.box {
  margin: 10px;
  min-height: 250px;

  &:hover {
    transition: all 0.1s ease-in;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(234, 228, 31, 0.19);
  }
}

.item img {
  width: 100%;
  cursor: pointer;
}

.vid-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(253, 0, 0);
}

#bar {
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
}

#player-container {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 30px;
  background-color: rgba(254, 161, 0, 0.75);
  z-index: 2;
}

#player {
  max-width: 720px;
  max-height: 576px;
  margin: 0 auto;
  display: block;
  width: 100%;

  iframe {
    width: 100% !important;
    height: 480px !important;
  }
}

#stop-player {
  height: 30px;
  width: 100px;
  line-height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#vid-copy {
  float: left;
  color: white;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 30px;
  text-shadow:
    2px 2px rgb(246, 51, 97),
    -2px -2px rgb(246, 51, 97),
    2px -2px rgb(246, 51, 97),
    -2px 2px rgb(246, 51, 97);
}

.container h5 {
  color: rgb(253, 0, 0);
  text-transform: uppercase;
  margin: auto;
  text-shadow:
    2px 2px white,
    -2px -2px white,
    2px -2px white,
    -2px 2px white;
  text-align: center;
  font-size: 30px;
}

.container h4 {
  color: #353521;
  text-transform: uppercase;
  max-width: 600px;
  font-size: 20px;
  text-decoration: none;
  margin: 10px auto 0 auto;
  font-style: italic;
}

@media only screen and (max-width: 480px) {
  .videos {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 650px) and (min-width: 481px) {
  .videos {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 651px) {
  .videos {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 1290px) and (min-width: 1051px) {
  .videos {
    grid-template-columns: auto auto auto auto;
  }
}

.filters-button-group {
  background-color: #4b7aa3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.filter {
  margin: 0 5px;
  font-size: 12px;
}
