.videos {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.box {
  margin: 10px;

  &:hover {
    transition: all 0.1s ease-in;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(234, 228, 31, 0.19);
  }
}

.video-link {
  position: relative;
  display: inline-block;

  img {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
  }
}

.vid-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(253, 0, 0);
  padding: 8px 5px;
}

.vid-duration {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px;
  border-radius: 10px;
  font-size: 12px;
}

.container h5 {
  color: rgb(253, 0, 0);
  text-transform: uppercase;
  margin: auto;
  text-shadow:
    2px 2px white,
    -2px -2px white,
    2px -2px white,
    -2px 2px white;
  text-align: center;
  font-size: 30px;
}

.container h4 {
  color: #353521;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  margin: 10px auto 0 auto;
  padding: 0 5px;
  font-style: italic;
}

@media only screen and (max-width: 480px) {
  .videos {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 650px) and (min-width: 481px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

.filters-button-group {
  background-color: #4b7aa3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.filter {
  margin: 0 5px;
  font-size: 12px;
}

@media only screen and (max-width: 399px) {
  .videos {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 400px) and (max-width: 620px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 621px) and (max-width: 1023px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1320px) {
  .container h4 {
    margin: 20px auto 0 auto;
  }

  .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1321px) and (max-width: 1799px) {
  .videos {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2199px) {
  .videos {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 2200px) {
  .videos {
    grid-template-columns: repeat(8, 1fr);
  }
}
