header,
footer {
  width: 100%;
  font-size: 80px;
}

header {
  margin: 0 auto 0 auto;
  color: white;
  transform-style: flat;
  background-image: linear-gradient(rgb(253, 159, 0), rgb(251, 250, 0));
  display: flex;
  flex-flow: column;
  height: 240px;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

header.hbg {
  -webkit-animation: hbg 1s linear infinite alternate;
  -moz-animation: hbg 1s linear infinite alternate;
  animation: hbg 1s linear infinite alternate;
}

.bg {
  background: linear-gradient(72deg, #fd9f00, #fbfa00);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 2s ease infinite alternate;
  -moz-animation: AnimationName 2s ease infinite alternate;
  -o-animation: AnimationName 2s ease infinite alternate;
  animation: AnimationName 2s ease infinite alternate;
}

.img-container {
  perspective: 1000px;
  width: 100%;
  position: absolute;
}

.img-wrapper {
  position: absolute;
  z-index: 5;
  transition: 0.25s;
  float: left;
  width: 188.7px;
  height: 240px;

  .img {
    width: 100%;
    height: 100%;
    transition: 0.25s;
    box-sizing: border-box;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    backface-visibility: visible;
    opacity: 1;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    &.start {
      opacity: 0;
    }

    &.fadein {
      animation: fadein 0.5s linear;
    }

    &.left {
      background-image: url('../../../images/shweaty-right.png');

      &:hover {
        animation: rtl2 0.5s linear 3;
      }

      &.hover {
        animation: ltr 3s cubic-bezier(0.055, 0.825, 0.485, 0.85);
      }

      &.bizerk {
        animation: ltr 1s cubic-bezier(0.055, 0.825, 0.485, 0.85) infinite alternate;
      }
    }

    &.right {
      background-image: url('../../../images/shweaty-left.png');

      &:hover {
        animation: ltr2 0.5s linear 3;
      }

      &.hover {
        animation: rtl 3s cubic-bezier(0.055, 0.825, 0.485, 0.85);
      }

      &.bizerk {
        animation: rtl 1s cubic-bezier(0.055, 0.825, 0.485, 0.85) infinite alternate;
      }
    }
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.better-call {
  font-family: BrushScriptStd, sans-serif;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: #353521;
  padding-top: 10px;
  margin: 0;
  text-shadow:
    rgb(255, 255, 255) -2px -2px 0,
    rgb(255, 255, 255) -2px -1px 0,
    rgb(255, 255, 255) -2px 0 0,
    rgb(255, 255, 255) -2px 1px 0,
    rgb(255, 255, 255) -2px 2px 0,
    rgb(255, 255, 255) -1px -2px 0,
    rgb(255, 255, 255) -1px -1px 0,
    rgb(255, 255, 255) -1px 0 0,
    rgb(255, 255, 255) -1px 1px 0,
    rgb(255, 255, 255) -1px 2px 0,
    rgb(255, 255, 255) 0 -2px 0,
    rgb(255, 255, 255) 0 -1px 0,
    rgb(255, 255, 255) 0 0 0,
    rgb(255, 255, 255) 0 1px 0,
    rgb(255, 255, 255) 0 2px 0,
    rgb(255, 255, 255) 1px -2px 0,
    rgb(255, 255, 255) 1px -1px 0,
    rgb(255, 255, 255) 1px 0 0,
    rgb(255, 255, 255) 1px 1px 0,
    rgb(255, 255, 255) 1px 2px 0,
    rgb(255, 255, 255) 2px -2px 0,
    rgb(255, 255, 255) 2px -1px 0,
    rgb(255, 255, 255) 2px 0 0,
    rgb(255, 255, 255) 2px 1px 0,
    rgb(255, 255, 255) 2px 2px 0;

  &.better-call-anim {
    -webkit-animation: neon1 3s linear;
    -moz-animation: neon1 3s linear;
    animation: neon1 3s linear;
  }

  &.better-call-anim-forever {
    -webkit-animation: neon1 3s linear infinite alternate;
    -moz-animation: neon1 3s linear infinite alternate;
    animation: neon1 3s linear infinite alternate;
  }

  &.bizerk {
    animation: neon1 1s linear infinite alternate;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.banner {
  text-transform: uppercase;
  color: rgb(220, 219, 0);
  font-size: 0.3635em;
  margin: 0 auto;
  width: 100%;
  height: 35px;
  line-height: 35px;
  letter-spacing: 8px;
  background-color: rgb(241, 52, 0);

  a {
    text-decoration: none;
    color: inherit;
  }

  &.click-here {
    background-color: rgb(254, 0, 0);
    letter-spacing: 4px;
    color: rgb(220, 219, 0);
    cursor: pointer;
  }
}

.sal {
  color: white;
  text-transform: uppercase;
  font-size: 0.525em;
  text-shadow:
    rgb(246, 51, 97) -2px -2px 0,
    rgb(246, 51, 97) -2px -1px 0,
    rgb(246, 51, 97) -2px 0 0,
    rgb(246, 51, 97) -2px 1px 0,
    rgb(246, 51, 97) -2px 2px 0,
    rgb(246, 51, 97) -1px -2px 0,
    rgb(246, 51, 97) -1px -1px 0,
    rgb(246, 51, 97) -1px 0 0,
    rgb(246, 51, 97) -1px 1px 0,
    rgb(246, 51, 97) -1px 2px 0,
    rgb(246, 51, 97) 0 -2px 0,
    rgb(246, 51, 97) 0 -1px 0,
    rgb(246, 51, 97) 0 0 0,
    rgb(246, 51, 97) 0 1px 0,
    rgb(246, 51, 97) 0 2px 0,
    rgb(246, 51, 97) 1px -2px 0,
    rgb(246, 51, 97) 1px -1px 0,
    rgb(246, 51, 97) 1px 0 0,
    rgb(246, 51, 97) 1px 1px 0,
    rgb(246, 51, 97) 1px 2px 0,
    rgb(246, 51, 97) 2px -2px 0,
    rgb(246, 51, 97) 2px -1px 0,
    rgb(246, 51, 97) 2px 0 0,
    rgb(246, 51, 97) 2px 1px 0,
    rgb(246, 51, 97) 2px 2px 0;
  margin: 0;

  &.sal1 {
    &.bizerk {
      animation: scalesal1 1s cubic-bezier(0.055, 0.825, 0.485, 0.85) infinite alternate;
    }
  }

  &.sal2 {
    &.bizerk {
      animation: scalesal2 1s cubic-bezier(0.055, 0.825, 0.485, 0.85) infinite alternate;
    }
  }
}

.mic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    width: 80px;
    margin-top: -30px;
    transition: all 0.5s linear;
    animation: glowShadow 1.5s linear infinite alternate;
  }

  &.bizerk {
    img {
      animation: scalemic2 1s cubic-bezier(0.055, 0.825, 0.485, 0.85) infinite alternate;
    }
  }
}

.caption {
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.225em;
  margin: 0;

  &.bizerk {
    animation: scalemic 1s cubic-bezier(0.055, 0.825, 0.485, 0.85) infinite alternate;
  }
}

@media only screen and (max-width: 440px) {
  .img-wrapper {
    &.left {
      opacity: 0;
    }
  }

  .better-call {
    text-align: left;
  }
}

@media only screen and (max-width: 567px) {
  header,
  footer {
    font-size: 40px;
  }

  .img-wrapper {
    width: 100px;
    height: 133.33px;
  }

  .img {
    &.left {
      &.fadein,
      &.hover {
        opacity: 1;
      }
    }

    &.right {
      right: 0;
    }
  }
}

@media only screen and (max-width: 920px) and (min-width: 568px) {
  header {
    height: 266.66px;
  }

  .img-wrapper {
    width: 180.8px;
    height: 230px;
    top: 2px;
  }
}

@media only screen and (max-width: 1020px) and (min-width: 568px) {
  header,
  footer {
    font-size: 50px;
  }

  .better-call {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 1273px) and (min-width: 1021px) {
  header,
  footer {
    font-size: 60px;
  }

  .better-call {
    font-size: 1.2em;
  }
}



@media only screen and (max-width: 360px) {
  .banner {
    font-size: 0.3em;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 525px) and (min-width: 361px) {
  .banner {
    letter-spacing: 4px;
  }
}

@media only screen and (min-width: 526px) and (max-width: 567px) {
  .banner {
    letter-spacing: 6px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 582px) {
  .banner {
    letter-spacing: 7px;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes largetext {
  0% {
    font-size: 0.525em;
    text-shadow:
      rgb(246, 51, 97) -2px 1px 0,
      rgb(246, 51, 97) -2px 2px 0,
      rgb(246, 51, 97) -1px -2px 0,
      rgb(246, 51, 97) -1px -1px 0,
      rgb(246, 51, 97) -1px 0 0,
      rgb(246, 51, 97) -1px 1px 0,
      rgb(246, 51, 97) -1px 2px 0,
      rgb(246, 51, 97) 0 -2px 0,
      rgb(246, 51, 97) 0 -1px 0,
      rgb(246, 51, 97) 0 0 0,
      rgb(246, 51, 97) 0 1px 0,
      rgb(246, 51, 97) 0 2px 0,
      rgb(246, 51, 97) 1px -2px 0,
      rgb(246, 51, 97) 1px -1px 0,
      rgb(246, 51, 97) 1px 0 0,
      rgb(246, 51, 97) 1px 1px 0,
      rgb(246, 51, 97) 1px 2px 0,
      rgb(246, 51, 97) 2px -2px 0,
      rgb(246, 51, 97) 2px -1px 0,
      rgb(246, 51, 97) 2px 0 0,
      rgb(246, 51, 97) 2px 1px 0,
      rgb(246, 51, 97) 2px 2px 0;
  }

  100% {
    font-size: 1em;
    text-shadow:
      rgb(246, 51, 97) -4px -4px 0,
      rgb(246, 51, 97) -4px -2px 0,
      rgb(246, 51, 97) -4px 0 0,
      rgb(246, 51, 97) -4px 2px 0,
      rgb(246, 51, 97) -4px 4px 0,
      rgb(246, 51, 97) -2px -4px 0,
      rgb(246, 51, 97) -2px -2px 0,
      rgb(246, 51, 97) -2px 0 0,
      rgb(246, 51, 97) -2px 2px 0,
      rgb(246, 51, 97) -2px 4px 0,
      rgb(246, 51, 97) 0 -4px 0,
      rgb(246, 51, 97) 0 -2px 0,
      rgb(246, 51, 97) 0 0 0,
      rgb(246, 51, 97) 0 2px 0,
      rgb(246, 51, 97) 0 4px 0,
      rgb(246, 51, 97) 2px -4px 0,
      rgb(246, 51, 97) 2px -2px 0,
      rgb(246, 51, 97) 2px 0 0,
      rgb(246, 51, 97) 2px 2px 0,
      rgb(246, 51, 97) 2px 4px 0,
      rgb(246, 51, 97) 4px -4px 0,
      rgb(246, 51, 97) 4px -2px 0,
      rgb(246, 51, 97) 4px 0 0,
      rgb(246, 51, 97) 4px 2px 0,
      rgb(246, 51, 97) 4px 4px 0;
  }
}

@keyframes scalemic {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}

@keyframes scalemic2 {
  0% {
    transform: scale(1) translateX(0) translateY(0);
  }

  100% {
    transform: scale(2) translateX(0) translateY(0);
  }
}

@keyframes scalesal1 {
  0% {
    transform: scale(1) translateX(0) translateY(0);
  }

  100% {
    transform: scale(2) translateX(-50%) translateY(0);
  }
}

@keyframes scalesal2 {
  0% {
    transform: scale(1) translateX(0) translateY(0);
  }

  100% {
    transform: scale(2) translateX(50%) translateY(0);
  }
}

@keyframes neon1 {
  from {
    color: rgb(255, 255, 255);
    text-shadow:
      rgb(241, 52, 0) -2px -2px 0,
      rgb(241, 52, 0) -2px -1px 0,
      rgb(241, 52, 0) -2px 0 0,
      rgb(241, 52, 0) -2px 1px 0,
      rgb(241, 52, 0) -2px 2px 0,
      rgb(241, 52, 0) -1px -2px 0,
      rgb(241, 52, 0) -1px -1px 0,
      rgb(241, 52, 0) -1px 0 0,
      rgb(241, 52, 0) -1px 1px 0,
      rgb(241, 52, 0) -1px 2px 0,
      rgb(241, 52, 0) 0 -2px 0,
      rgb(241, 52, 0) 0 -1px 0,
      rgb(241, 52, 0) 0 0 0,
      rgb(241, 52, 0) 0 1px 0,
      rgb(241, 52, 0) 0 2px 0,
      rgb(241, 52, 0) 1px -2px 0,
      rgb(241, 52, 0) 1px -1px 0,
      rgb(241, 52, 0) 1px 0 0,
      rgb(241, 52, 0) 1px 1px 0,
      rgb(241, 52, 0) 1px 2px 0,
      rgb(241, 52, 0) 2px -2px 0,
      rgb(241, 52, 0) 2px -1px 0,
      rgb(241, 52, 0) 2px 0 0,
      rgb(241, 52, 0) 2px 1px 0,
      rgb(241, 52, 0) 2px 2px 0;
  }

  to {
    color: rgb(53, 53, 33);
    text-shadow:
      rgb(255, 255, 255) -2px -2px 0,
      rgb(255, 255, 255) -2px -1px 0,
      rgb(255, 255, 255) -2px 0 0,
      rgb(255, 255, 255) -2px 1px 0,
      rgb(255, 255, 255) -2px 2px 0,
      rgb(255, 255, 255) -1px -2px 0,
      rgb(255, 255, 255) -1px -1px 0,
      rgb(255, 255, 255) -1px 0 0,
      rgb(255, 255, 255) -1px 1px 0,
      rgb(255, 255, 255) -1px 2px 0,
      rgb(255, 255, 255) 0 -2px 0,
      rgb(255, 255, 255) 0 -1px 0,
      rgb(255, 255, 255) 0 0 0,
      rgb(255, 255, 255) 0 1px 0,
      rgb(255, 255, 255) 0 2px 0,
      rgb(255, 255, 255) 1px -2px 0,
      rgb(255, 255, 255) 1px -1px 0,
      rgb(255, 255, 255) 1px 0 0,
      rgb(255, 255, 255) 1px 1px 0,
      rgb(255, 255, 255) 1px 2px 0,
      rgb(255, 255, 255) 2px -2px 0,
      rgb(255, 255, 255) 2px -1px 0,
      rgb(255, 255, 255) 2px 0 0,
      rgb(255, 255, 255) 2px 1px 0,
      rgb(255, 255, 255) 2px 2px 0;
  }
}

@keyframes glowShadow {
  to {
    -webkit-filter: brightness(2) drop-shadow(0.5rem 0.5rem 0.5rem #f20);
    filter: brightness(2) drop-shadow(0.5rem 0.5rem 0.5rem #f20);
  }
}
