.breaker {
  background-image: linear-gradient(#fda810, #eae41f);
  padding: 8px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.breaker a {
  text-decoration: none;
}

.breaker span {
  text-transform: uppercase;
  text-align: center;
  font-family: Impact, Arial, Helvetica, sans-serif;
  font-size: 352%;
  letter-spacing: 4px;
  color: #d61d00;
  text-shadow: #fff -4px -4px 0, #fff -4px -2px 0, #fff -4px 0 0, #fff -4px 2px 0, #fff -4px 4px 0, #fff -2px -4px 0, #fff -2px -2px 0, #fff -2px 0 0, #fff -2px 2px 0, #fff -2px 4px 0, #fff 0 -4px 0, #fff 0 -2px 0, #fff 0 0 0, #fff 0 2px 0, #fff 0 4px 0, #fff 2px -4px 0, #fff 2px -2px 0, #fff 2px 0 0, #fff 2px 2px 0, #fff 2px 4px 0, #fff 4px -4px 0, #fff 4px -2px 0, #fff 4px 0 0, #fff 4px 2px 0, #fff 4px 4px 0;
  -webkit-animation: lb-border-color 1.5s linear infinite alternate;
  -moz-animation: lb-border-color 1.5s linear infinite alternate;
  animation: lb-border-color 1.5s linear infinite alternate;
}

.breaker img {
  width: 83px;
  color: rgb(255, 221, 27);
  margin: 0 40px;

  &.drum1 {
    animation: drum1 1.5s ease-in-out infinite alternate;
  }

  &.drum2 {
    transform: scaleX(-1);
    animation: drum2 1.5s ease-in-out infinite alternate;
  }
}

.breaker #drum2.bizerk {
  animation: ltr 1s cubic-bezier(0.055, 0.825, 0.485, 0.85) infinite alternate;
}

.breaker #drum1.bizerk {
  animation: rtl 1s cubic-bezier(0.055, 0.825, 0.485, 0.85) infinite alternate;
}

@media only screen and (max-width: 564px) {
  .breaker span {
    font-size: 24px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 565px) {
  .breaker span {
    font-size: 34px;
  }
}

@media only screen and (max-width: 1024px) {
  .breakers img {
    margin: 0 12px;
  }
}

@-webkit-keyframes drum1 {
  0%,
  100% {
    filter: drop-shadow(2px 2px 2px rgba(115, 43, 13, 1));
    transform: rotateY(0);
  }

  50% {
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 200, 1));
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes drum2 {
  0%,
  100% {
    filter: drop-shadow(2px 2px 2px rgba(115, 43, 13, 1));
    transform: rotateY(180deg);
  }

  50% {
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 200, 1));
    transform: rotateY(0deg);
  }
}

@keyframes lb-border-color {
  from {
    text-shadow: #a2b3a0 -4px -4px 0, #a2b3a0 -4px -2px 0, #a2b3a0 -4px 0 0, #a2b3a0 -4px 2px 0, #a2b3a0 -4px 4px 0, #a2b3a0 -2px -4px 0, #a2b3a0 -2px -2px 0, #a2b3a0 -2px 0 0, #a2b3a0 -2px 2px 0, #a2b3a0 -2px 4px 0, #a2b3a0 0 -4px 0, #a2b3a0 0 -2px 0, #a2b3a0 0 0 0, #a2b3a0 0 2px 0, #a2b3a0 0 4px 0, #a2b3a0 2px -4px 0, #a2b3a0 2px -2px 0, #a2b3a0 2px 0 0, #a2b3a0 2px 2px 0, #a2b3a0 2px 4px 0, #a2b3a0 4px -4px 0, #a2b3a0 4px -2px 0, #a2b3a0 4px 0 0, #a2b3a0 4px 2px 0, #a2b3a0 4px 4px 0;
  }

  to {
    text-shadow: #fff -4px -4px 0, #fff -4px -2px 0, #fff -4px 0 0, #fff -4px 2px 0, #fff -4px 4px 0, #fff -2px -4px 0, #fff -2px -2px 0, #fff -2px 0 0, #fff -2px 2px 0, #fff -2px 4px 0, #fff 0 -4px 0, #fff 0 -2px 0, #fff 0 0 0, #fff 0 2px 0, #fff 0 4px 0, #fff 2px -4px 0, #fff 2px -2px 0, #fff 2px 0 0, #fff 2px 2px 0, #fff 2px 4px 0, #fff 4px -4px 0, #fff 4px -2px 0, #fff 4px 0 0, #fff 4px 2px 0, #fff 4px 4px 0;
  }
}
