section {
  display: flex;
  flex-flow: column;
}

.container {
  width: 100%;
  background-image: -webkit-linear-gradient(#fea100, #eae41f, #eae41f, #eae41f);
  background-image: -o-linear-gradient(#fea100, #eae41f, #eae41f, #eae41f);
  background-image: linear-gradient(#fea100, #eae41f, #eae41f, #eae41f);
  display: flex;

  .sidebar {
    min-width: 250px;

    &.left {
      width: 280px;
    }

    & .right {
      .right-artwork {
        max-width: 250px;
      }
    }
  }

  .middle {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .middle {
    width: calc(100% - 500px);
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
  }

  .middle {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: initial;

    &.right {
      display: flex;

      img {
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .container h5 {
    font-size: 24px;
  }
}

