@keyframes orangeborder {
  0% {
    border-color: rgb(255, 111, 0);
  }

  100% {
    border-color: rgb(228, 0, 196);
  }
}

@keyframes orangecopy {
  0% {
    text-shadow:
      rgb(228, 0, 196) -4px -4px 0,
      rgb(228, 0, 196) -4px -2px 0,
      rgb(228, 0, 196) -4px 0 0,
      rgb(228, 0, 196) -4px 2px 0,
      rgb(228, 0, 196) -4px 4px 0,
      rgb(228, 0, 196) -2px -4px 0,
      rgb(228, 0, 196) -2px -2px 0,
      rgb(228, 0, 196) -2px 0 0,
      rgb(228, 0, 196) -2px 2px 0,
      rgb(228, 0, 196) -2px 4px 0,
      rgb(228, 0, 196) 0 -4px 0,
      rgb(228, 0, 196) 0 -2px 0,
      rgb(228, 0, 196) 0 0 0,
      rgb(228, 0, 196) 0 2px 0,
      rgb(228, 0, 196) 0 4px 0,
      rgb(228, 0, 196) 2px -4px 0,
      rgb(228, 0, 196) 2px -2px 0,
      rgb(228, 0, 196) 2px 0 0,
      rgb(228, 0, 196) 2px 2px 0,
      rgb(228, 0, 196) 2px 4px 0,
      rgb(228, 0, 196) 4px -4px 0,
      rgb(228, 0, 196) 4px -2px 0,
      rgb(228, 0, 196) 4px 0 0,
      rgb(228, 0, 196) 4px 2px 0,
      rgb(228, 0, 196) 4px 4px 0;
    color: white;
  }

  100% {
    text-shadow:
      rgb(255, 111, 0) -4px -4px 0,
      rgb(255, 111, 0) -4px -2px 0,
      rgb(255, 111, 0) -4px 0 0,
      rgb(255, 111, 0) -4px 2px 0,
      rgb(255, 111, 0) -4px 4px 0,
      rgb(255, 111, 0) -2px -4px 0,
      rgb(255, 111, 0) -2px -2px 0,
      rgb(255, 111, 0) -2px 0 0,
      rgb(255, 111, 0) -2px 2px 0,
      rgb(255, 111, 0) -2px 4px 0,
      rgb(255, 111, 0) 0 -4px 0,
      rgb(255, 111, 0) 0 -2px 0,
      rgb(255, 111, 0) 0 0 0,
      rgb(255, 111, 0) 0 2px 0,
      rgb(255, 111, 0) 0 4px 0,
      rgb(255, 111, 0) 2px -4px 0,
      rgb(255, 111, 0) 2px -2px 0,
      rgb(255, 111, 0) 2px 0 0,
      rgb(255, 111, 0) 2px 2px 0,
      rgb(255, 111, 0) 2px 4px 0,
      rgb(255, 111, 0) 4px -4px 0,
      rgb(255, 111, 0) 4px -2px 0,
      rgb(255, 111, 0) 4px 0 0,
      rgb(255, 111, 0) 4px 2px 0,
      rgb(255, 111, 0) 4px 4px 0;
    color: #eae41f;
  }
}

.sidebar.mobile {
  display: none;
}

.menu {
  padding: 8px 0;
  background-color: #4b7aa3;

  .main-btn {
    margin: 8px 6px 8px 0;
    border-radius: 0 4px 4px 0;
    border-left: none;
    text-align: left;
    padding-left: 6px;
    font-size: 24px;
    height: 38px;
    line-height: 38px;

    a {
      color: inherit;
      text-decoration: none;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.mobile {
    display: none;
    padding: 2px 4px;
    margin-top: 10px;

    .main-btn {
      margin: 8px 0;
    }
  }
}

.left-add {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 600px;
}

.bizerk {
  animation: orangeborder 1s linear infinite alternate;
}

.left-add1 {
  margin: auto;
  display: block;
  border: solid 8px rgb(255, 111, 0);
  cursor: pointer;
}

.left-add2 {
  background-color: rgb(0, 0, 0);
  border: solid 8px rgb(228, 0, 194);
  width: 100%;
  position: relative;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  span {
    position: absolute;
    bottom: -22px;
    left: 0;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.6em;
    color: #eae41f;
    width: 100%;
    text-align: center;
    text-shadow:
      rgb(228, 0, 196) -4px -4px 0,
      rgb(228, 0, 196) -4px -2px 0,
      rgb(228, 0, 196) -4px 0 0,
      rgb(228, 0, 196) -4px 2px 0,
      rgb(228, 0, 196) -4px 4px 0,
      rgb(228, 0, 196) -2px -4px 0,
      rgb(228, 0, 196) -2px -2px 0,
      rgb(228, 0, 196) -2px 0 0,
      rgb(228, 0, 196) -2px 2px 0,
      rgb(228, 0, 196) -2px 4px 0,
      rgb(228, 0, 196) 0 -4px 0,
      rgb(228, 0, 196) 0 -2px 0,
      rgb(228, 0, 196) 0 0 0,
      rgb(228, 0, 196) 0 2px 0,
      rgb(228, 0, 196) 0 4px 0,
      rgb(228, 0, 196) 2px -4px 0,
      rgb(228, 0, 196) 2px -2px 0,
      rgb(228, 0, 196) 2px 0 0,
      rgb(228, 0, 196) 2px 2px 0,
      rgb(228, 0, 196) 2px 4px 0,
      rgb(228, 0, 196) 4px -4px 0,
      rgb(228, 0, 196) 4px -2px 0,
      rgb(228, 0, 196) 4px 0 0,
      rgb(228, 0, 196) 4px 2px 0,
      rgb(228, 0, 196) 4px 4px 0;
  }

  &.bizerk {
    animation: orangeborder 1s linear infinite alternate-reverse;

    span {
      animation: orangecopy 1s linear infinite alternate-reverse;
    }
  }
}

.left-content {
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .menu {
    display: none;

    &.mobile {
      display: block;
    }
  }

  .sidebar {
    &.left {
      display: none;
    }

    &.mobile {
      display: block;
      margin: 30px 0;
    }
  }
}
